@font-face {
	font-family: Montserrat;
	src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
	font-family: Montserrat-medium;
	src: url(./fonts/Montserrat-Medium.ttf);
}

@font-face {
	font-family: Montserrat-bold;
	src: url(./fonts/Montserrat-Bold.ttf);
}

body {
	font-family: Montserrat-medium;
}

h1 h2 h3 {
	font-family: Montserrat-bold
}

h1 {
	margin-top: 50px;
	margin-left: 80px;
}

h2 {
	font-size: 24;
}

p {
	font-family: Montserrat;
	font-size: 18;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
	color: #18A0FB;
}

.navbar {
	background-color: #1D3141;
	height: 109px;
}

.navbar-logo {
	padding-left: 57px;
}

.navbar-nav {
	margin-right: 28%;
}
.nav-item a {
	margin: 15px;
	color: white;
}

.nav-item a:hover {
	color: #18A0FB;
	border-bottom: 2px solid #18A0FB;
	transform: translateY(2px);
}

.nav-button {
	color: white;
	background-color: #18A0FB;
	border-radius: 6px;
	padding: 8px 29.5px;
	margin-right: 72px;
	font-size: 15;
}

.nav-button:hover {
	color: #1D3141;
}

/* SLIDER START */

.slider {
	position: relative;
	display: flex;
	flex: auto;
	height: 50vw;
	align-items: center;
	
}

.sliderTitle {
	position:absolute;
	display: flex;
	flex-direction: column;
	left:10%;
	width: 80%;
	text-align: center;
	align-items: center;
	z-index : 1;
}

.sliderTitle h1 {
	margin-bottom: 2rem;
	font-family: Montserrat-bold;
	color: black;
	font: bolder;
	font-size: 5rem;
	margin: 0;
}

.slide {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 1s;
	opacity: 0;
}

.slide:first-child {
	opacity: 1;
}

#previous, #next {
	cursor: pointer;
	position: absolute;
	width: 50px;
	height: 50px;
	padding: 5px;
}

#previous {
	left: 1rem;
}

#next {
	right: 1rem;
}

#previous:hover, #next:hover {
	opacity: 70%;
}

/* SLIDER END */

.room-col {
	margin: 28px;
}

.room {
	padding: 52px;
}

h2 {
	margin-top: 70px;
	margin-bottom: 24px;
}

.room img {
	width: 100%;
	height: auto;
}

.room-bg-blue {
	background-color: #1D3141;
	color: white;
}

.service {
	padding: 80px;
}

.service-item {
	margin-bottom: 60px;
 }

.service a {
	color: #18A0FB;
	border: 1pt solid #18A0FB;
	border-radius: 6px;
	padding: 8px 29.5px;
	font-size: 15;
}

.service a:hover {
	color: #1D3141;
	border-color: #1D3141;
}

.contact {
	padding: 100px 80px ;
	background-color: #1D3141;
}

.contact p {
	color: white;
	font-size: 28px;
	margin-bottom: 0;
}

.contact a {
	color: white;
	background-color: #18A0FB;
	border-radius: 6px;
	padding: 8px 29.5px;
	font-size: 18;
	margin:unset;

}

.contact button {
	width: 192px;
	height: 52px;
	border-radius: 6px;
	color: white;
	background-color: #18A0FB;
	border: unset;
	display: inline-block;
	justify-content: center;
	align-items: center;
	transform: translateY(30%);
}

.contact button:hover {
	color: #1D3141;
}

#second-button {
	color: #18A0FB;
	border: 2px solid #18A0FB;
	background-color: white;

}

#second-button:hover {
	color: #1D3141;
	border-color: #1D3141;
}

footer {
	text-align: center;
	margin: 60px 80px;
	margin-bottom: 20px;
	border-bottom: 2px solid black;
}


footer .col {
	transform: translateY(50%);
}

footer img {
	padding-bottom: 10px;
	width: 100%;
	height: auto;
	transform: translateY(-50%);
}

#credits {
	text-align: center;
}

#contact-title {
	margin-left: unset;
	text-align: center;
}

#contact-text {
	text-align: center;
	margin-bottom: 50px;
	font-size: 1.5rem;
}

.form {
	margin-left: 300px;
	margin-right: 300px;
	padding: 64px;
	width: auto;
	border: 2px solid #676774;
}

.form .row .col {
	padding: unset;
}

#prenom, #nom {
	margin-bottom: 30px;
	height: 50px;
	width: 237px;
}

#mail {
	margin-bottom: 30px;
	height: 50px;
	width: 518px;
}

textarea {
	padding-top: 10px;
	margin-bottom: 30px;
	height: 222px;
	width: 518px;
}

.form button {
	width: 130px;
	height: 50.75px;
	border-radius: 6px;
	color: white;
	background-color: #18A0FB;
	border: unset;
	display: inline-block;
	justify-content: center;
	align-items: center;
}

::placeholder {
	color: var(--c, none);
}

#error-message {
	font-size: 12px;
	color: red;
	opacity: 0;
}

@media screen and (max-width: 900px) {
	.form {
		margin-left: 50px;
		margin-right: 50px;
	}

}
	