.burgerMenu {
	position: absolute;
	right: 10px;
	background-color: white;
	border: 1px solid #e4e4e4;
	border-top: none;
	padding: 15px;
	width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	z-index: 10000;
	border-radius: 0 0px 5px 5px;

	.link {
		list-style-type: none;
		justify-items: center;
	}
}

@media screen and (max-width: 480px) {
	.burgerMenu {
		right: 0;
		width: calc(100vw - 30px);
	}

}