.cart {
	position: absolute;
	right: 10px;
	background-color: white;
	border: 1px solid #e4e4e4;
	border-top: none;
	padding: 15px;
	width: 400px;
	display: flex;
	flex-direction: column;
	gap: 15px;

	.cartTitle {
		color: rgb(49, 49, 49);
		font-size: 20px;
	}

	.cartItems {
		display: flex;
		flex-direction: column;
		gap: 20px;
		.center {
			display: flex;
			align-items: center;
			gap: 20px;

			img {
				width: 70px;
				height: 100%;
			}

			.item {
				display: flex;
				flex-direction: column;
				gap: 10px;
				color: gray;

				.title {
					color: rgb(87, 87, 87);
				}

				.desc {
					font-size: 10px;
					text-align: justify;
				}

				.quantity {
					color: #2978F7;
					font-size: 15px;
					font-weight: bold;
				}
			}

			.icon {
				color: crimson;
				padding: 5px;
				cursor: pointer;

				&:hover {
					opacity: 0.8;
				}
			}

		}
	}

	.total {
		font-size: 15px;
		font-weight: 500;
		display: flex;
		justify-content: space-between;
	}

	.bottom {
		display: flex;
		flex-direction: column;
		gap: 15px;

		button {
			background-color: #2978F7;
			color: white;
			font-size: 12px;
			font-weight: bold;
			border: none;
			padding: 10px 20px;
			width: fit-content;
			cursor: pointer;

			&:hover {
				opacity: 0.9;
			}
		}

		span {
			font-size: 10px;
			color: crimson;
			cursor: pointer;

			&:hover {
				text-decoration: underline;
			}
		}
	}
}