.contact-container {
	display: flex;
	margin-top: 100px;
	height: 50px;
	background-color: #2778F7;
	align-items: center;
	justify-content: space-between;
	padding-left: 200px;
	padding-right: 200px;
	color: white;


	.socials {
		display: flex;
		align-items: center;
		gap: 7px;

		.icon {
			font-size: 18px;
		}
	}

	.join {
		display: flex;
		align-items: center;
		
		input {
			border: none;
			border-radius: 5px 0 0 5px;
			padding: 5px;
			color: gray;
			font-size: 12px;
			
		}

		button {
			border: none;
			border-radius: 0 5px 5px 0;
			background-color: black;
			color: white;
			font-weight: bold;
			font-size: 12px;
			padding: 5px;
			cursor: pointer;
		}
	}
}

@media screen and (max-width: 990px) {
	.contact-container {
		padding: 0 20px 0 20px;
	span {
		display: none;
	}
}
}